{% load wagtailcore_tags %}
{% load static %}



<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <a class="navbar-brand brand" href="/">
    <img src="{% static 'images/francis_logo.png' %}" width="125" alt="">
  </a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <div class="nav navbar-nav ml-auto">
        {% if page.title == 'Home' %}
          {% for page in page.get_children %}
        <a class="nav-item nav-link" href="{% pageurl page %}">{{ page.title }}</a>
        
        {% endfor %}  
        {% else %}
        <a class="nav-item nav-link" href="{% pageurl page.get_parent %}">{{ page.get_parent.title }}</a>
        {% for page in page.get_siblings %}
        <a class="nav-item nav-link" href="{% pageurl page %}">{{ page.title }}</a>
        
        {% endfor %}
        {% endif %}


    


  </div>
  </div>
</nav>
