{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-7 text">
        <div class="headline">
          {{ page.headline|richtext }}
          {{ page.headline_intro|richtext }}
        </div>
        <p class="lead">
          <a class="btn btn-alt btn-lg rounded-pill" href="services/" role="button">Learn More</a>
        </p>
      </div>
      <div class="col-12 col-md-5 col-lg-5">

          {% image page.headline_image original as img %}
          <img src="{{ img.url }}" alt="{{img.alt}}" class="image-container" >
          
      </div>
    </div>
  </div>
</div>

<div class="services-container">
  <div class="container">
 {{ page.muted_text_top|richtext }}
    <h1>{{ page.top_sentence|richtext }}</h1>
    <h1 class="second-line">{{ page.top_sentence_second|richtext }}</h1>
    <div class="row">
      <div class="col-12 col-md-4 my-2">
        <h1 class="number">{{ page.number_one|richtext }}</h1>
        <h4>{{ page.number_one_title|richtext }}</h4>
        <p>{{ page.number_one_content|richtext }}</p>
      </div>
      <div class="col-12 col-md-4 my-2">
        <h1 class="number">{{ page.number_two|richtext }}</h1>
        <h4>{{ page.number_two_title |richtext }}</h4>
        <p>{{ page.number_two_content|richtext }}</p>
      </div>
      <div class="col-12 col-md-4 my-2">
        <h1 class="number">{{ page.number_three|richtext }}</h1>
        <h4>{{ page.number_three_title |richtext }}</h4>
        <p>{{ page.number_three_content|richtext }}</p>
      </div>
    </div>
</div>
<div class="container">
  <div class="call-to-action">
    <div class="row">
      <div class="col-12 col-md-6 text">
        {{ page.muted_text_bottom|richtext }}
        <h2>{{ page.service_title|richtext }}</h2>
        {{ page.service_content|richtext }}
        <a class="btn btn-dark btn-lg rounded-pill" href="about/"  role="button">About Me</a>
      </div>
      <div class="col-12 col-md-6 box">
        {% image page.service_image original class="img-fluid image-container"%}
      </div>
    </div>
    <div class="row row-2">
      <div class="offer col-12 col-md-4 text-center">
        <i class="fas fa-shoe-prints fa-5x"></i>
        <h3>{{ page.point_one_title|richtext }}</h3>
        <p>{{ page.point_one_content|richtext }}</p>
      </div>
      <div class="offer col-12 col-md-4 text-center">
        <i class="fas fa-tag fa-5x"></i>
        <h3>{{ page.point_two_title|richtext }}</h3>
        <p>{{ page.point_two_content|richtext }}</p>
      </div>
      <div class="offer col-12 col-md-4 text-center">
        <i class="fas fa-handshake fa-5x"></i>
        <h3>{{ page.point_three_title|richtext }}</h3>
        <p>{{ page.point_three_content|richtext }}</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="projects container-fluid">
  <h3>{{ page.work_title|richtext }}</h3>
  <p>{{ page.work_content|richtext }}</p>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3">
      {% image page.work_feature_one_image fill-600x600 as img %}
      <img src="{{ img.url }}" class="img-thumbnail" alt="{{ img.alt }}">
      <div class="text">
        <h4>{{ page.work_feature_one_title|richtext }}</h4>
      <p>{{ page.work_feature_one_description|richtext }}</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      {% image page.work_feature_two_image fill-600x600 as img %}
      <img src="{{ img.url }}" class="img-thumbnail" alt="{{ img.alt }}">
      <div class="text">
        <h4>{{ page.work_feature_two_title|richtext }}</h4>
      <p>{{ page.work_feature_two_description|richtext }}</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      {% image page.work_feature_three_image fill-600x600 as img %}
      <img src="{{ img.url }}" class="img-thumbnail" alt="{{ img.alt }}">
      <div class="text">
        <h4>{{ page.work_feature_three_title|richtext }}</h4>
      <p>{{ page.work_feature_three_description|richtext }}</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      {% image page.work_feature_four_image fill-600x600 as img %}
      <img src="{{ img.url }}" class="img-thumbnail" alt="{{ img.alt }}">
      <div class="text">
        <h4>{{ page.work_feature_four_title|richtext }}</h4>
        <p>{{ page.work_feature_four_description|richtext }}</p>
      </div>
    </div>

  </div>
  <div class="container text-center">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner p-5">
        {% for loop_cycle in self.carousel_images.all %}
        {% image loop_cycle.carousel_image fill-400x400-c5 as img %}
        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
          <img src="{{ img.url }}" class="img-fluid d-block w-100" alt="{{ img.alt }}">
        </div>
        {% endfor %}

      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>    
  </div>
</div>

{% endblock %}