@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import './colors';



.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.site-content {
  flex: 1;
}


.navbar {
  background: $body-bg;

  .navbar-brand {
    // font-family: 'Dancing Script', cursive;
    // font-style: italic;
    color: $alt-color;
  }

  &:hover {
    color: $accent !important;
  }

  .active {
    color: $alt-bg !important;
  }
}


.jumbotron {
  padding: 10rem 0 0 0;
  background: $body-bg;

  .row {
    .col-12 {
      margin-bottom: 5rem;
    }
  }

  .image-container {
    max-width: 100%;
    top: 0rem;
    right: 0;
    opacity: 1;
    z-index: 0;
  }

  .headline {
    :first-child {
      font-weight: 900;
      line-height: 1;
      font-size: 3rem;
      color: $accent;
    }
  }

  .accent {
    color: $accent;
  }

  .btn-alt {
    background-color: $alt-bg !important;
  }



}

.services-container {
  p:nth-child(1) {
    font-weight: 900;

  }

  h1 {
    font-weight: 600;
  }

  .second-line {
    color: $accent;
  }

  .row {
    margin: auto;

    h4 {
      color: $accent;
      font-weight: 900;
    }

    .number {
      font-size: 5rem;
      color: rgba($alt-color, 0.8);
      font-weight: 900;
    }
  }

  .call-to-action {
    background-color: $alt-bg;
    height: 100%;

    .row {
      .text {
        padding: 1rem 3rem 2rem 2rem;

        h2 {
          font-weight: 900;
          color: $accent;
        }

        p {
          margin-top: 1.6rem;
        }
      }

      .image-container {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }

      .box {
        height: 100%;
        padding: 0 !important;
      }
    }

    .row-2 {
      margin: 0rem 0rem 5rem auto;
      padding-top: 3rem;
      background-color: $body-bg;

      .offer {
        margin: 2rem auto;

        i {
          color: rgba($alt-color, 0.8);
          margin-bottom: 4rem;
        }
      }
    }


  }
}

.projects {
  border-top: 0.2px solid rgba($accent, 0.2);
  border-bottom: 0.2px solid rgba($accent, 0.2);
  padding: 5rem 1rem;

  h3 {
    font-weight: 900;
  }

  .img-thumbnail {
    border: 0px solid rgba($accent, 0);
    width: 100%;
  }

  .text {
    padding-left: 0.3rem;
  }
}

.service-page-container {
  margin-top: 10rem;

  .text-accent {
    color: $accent;
  }

  .img-thumbnail {
    border: 0.2rem solid rgba($accent, 0.6);
  }

  .container-1 {
    margin: 10rem auto;

    img {
      margin: 2rem auto;
    }

    h1 {
      font-size: 3rem;
      font-weight: 900;
    }

    p {
      width: 90%;

    }
  }

  .row {
    margin: 5rem auto;
  }

  .container-2 {
    text-align: center;

    img {
      width: 70%;
      margin: 1rem auto;
    }

    .img-thumbnail {
      border: 0.2rem solid rgba($accent, 0.2);
    }
  }

  .container-3 {
    margin: 5rem auto 0rem auto;
    padding: 2rem 0rem;
    border-top: 0.2rem solid rgba($accent, 0.2);
    text-align: center;

    p {
      width: 80%;
      margin: auto;
    }

    .btn-alt {
      margin: 2rem auto;
      background-color: $alt-color;
    }
  }
}

.about {
  margin: 5rem auto 5rem auto;

  .name {
    color: $accent;
    text-align: right;
    font-weight: 900;
  }


  .bio {
    img {
      float: left;
      padding: 5rem;
      margin: 0;
      filter: brightness(61%) saturate(2) hue-rotate(30deg);
    }

  }

  .overlay {
    filter: hue-rotate(72deg);
  }

  .skills {
    padding: 2rem;

    h3 {
      color: $accent;
      font-weight: 900;
    }
  }

  .call-to-action {
    h3 {
      margin-top: 3rem;
    }

    .phone-number {
      color: $alt-bg;
    }

  }
}

.contact {
  margin-top: 5rem;

  .row {
    padding: 0rem 2rem;
    justify-content: center;
  }

  .jumbotron-fluid {
    background-color: #aaaaaa47;
    margin: -0.8rem;
    padding: 3rem;

    .jumbotron-title {
      font-size: 1.875rem;
      line-height: 1;
      font-weight: 900;
      color: $accent;
    }
  }

  .choice-1 {
    .custom-control-inline {
      display: block;
      margin: 2rem;
      background-color: #564787;
      padding: 4rem 4rem 1rem 4rem;
      text-align: center;

    }
  }
  .choice-2 {
    .row {
      padding: 0;
    }
    .bootstrap-datetimepicker-widget table {
      color:$accent !important;
      background: $alt-bg !important;
    }
    .bootstrap-datetimepicker-widget table th.picker-switch{
      color:$body-color !important;
      
  }
  
  .bootstrap-datetimepicker-widget table th{
    color:$body-color !important;
  }
  }

  .choice-1,
  .choice-2,
  .choice-3 {
    h1 {
      line-height: 1;
      background-color: #aaaaaa47;
      margin: 2rem 0;
      padding: 2rem;
      color: $accent;
      font-weight: 900;
      font-size: 1.3125rem;
      cursor: pointer;
      display: -ms-flexbox;
      display: flex;
      font-size: 2rem;

      .number {
        background-color: rgba($accent, 0.2);
        -ms-flex-pack: center;
        justify-content: center;
        min-width: 3.75rem;
        text-align: center;
        padding: 1rem;
        margin-right: 2rem;
      }
    }
  }

  .item-name {
    font-size: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.125rem;
  }

}

footer {
  background-color: $alt-bg;
  padding: 2rem 0rem;

  a {
    color: $accent;
  }

  a:hover {
    color: rgba($accent, 0.2);
    text-decoration: none;
  }

  .social {
    i {
      color: $accent;

    }

    :hover {
      color: rgba($accent, 0.5);
    }
  }
}


@media (min-width:768px) {
  .jumbotron {
    padding: 10rem 0 0 0;
    margin-bottom: 5rem;

    .text {
      margin-top: 5rem;
      z-index: 1;
      padding: 2rem 0rem 0rem 2rem;
      background-color: rgba(16, 25, 53, 0.5);
    }



    .image-container {
      position: absolute;
      top: -4.4rem;
      right: 0rem;
      max-width: 200%;
      opacity: 0.5;

    }
  }

  .projects {
    .text {
      margin: 2rem auto;

      :first-child {
        font-size: 1.6rem;
        color: $accent;
        font-weight: 900;
        margin-bottom: -1rem;
      }
    }
  }

  .services-container {
    .call-to-action {
      .row {
        .text {
          padding: 10% 3rem 2rem 2rem;

          h2 {
            margin-bottom: 5rem;
          }
        }
      }

      .row-2 {
        .offer {
          i {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  .service-page-container {
    .call-to-action {
      .row {
        .image-container {
          height: 60vh;
        }
      }
    }

    .text {
      width: 70%;
      position: relative;
      background: $body-bg;
      bottom: 10rem;
      padding: 3rem;
      right: 0.2rem;

    }

    .container-1 {
      margin: auto auto 2rem auto;
    }

    .container-2 {
      .img-thumbnail {
        border: 0.2rem solid $accent;
      }
    }

    .container-3 {
      margin-top: 8rem;

      p {
        margin: auto;
        width: 60%;
      }
    }
  }

  .about {

    .bio {
      margin-bottom: 10rem;

      .name {
        padding-top: 0rem;
        color: $accent;
        font-size: 4rem;
        margin: 8rem auto;
      }

      h1 {
        padding-top: 5rem;
        color: $alt-bg;
      }
    }

    .bio {
      img {
        width: 50%;
        padding: 2rem;
        margin: 0;

      }
    }

    .skills {
      margin-top: 20rem;
      padding: 2rem 5rem;
      float: none;
    }

    .overlay {
      height: 100%;

      img {
        margin: auto;
        height: 30rem;
      }
    }

  }

  .contact {
    .row {
      padding: 4rem 0rem;
    }

    .card {
      margin: 2rem 3rem;
    }

    .contact-form-container {
      padding: inherit;
      width: 95%;
      margin: auto;
    }
  }

}


@media (min-width:992px) {
  .jumbotron {
    .text {
      margin-top: 0rem;
      padding: 4rem 4rem 4rem 4rem;
      position: relative;
      left: 2vw;

      h1 {

        font-size: 4.5rem;
        line-height: 1.2;
      }
    }
  }

  .services-container {
    .call-to-action {
      .row {
        .text {
          p:nth-child(1) {
            font-weight: 900;
          }

          h2 {
            font-size: 3rem;
            margin-bottom: 10rem;
          }

          p:nth-child(3) {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .service-page-container {
    .container-2 {
      h3 {
        padding-top: 3rem;
      }
    }
  }

  .projects {
    padding: 3rem 5rem;
    margin-bottom: 5rem;


  }

  .about {
    .bio {
      margin-bottom: 0rem;

      h1 {
        padding-top: 5rem;
      }

      img {
        width: 40%;
        padding: 0rem;
        margin: 3rem;
      }

      .name {
        padding-top: 0rem;
        margin: 0rem auto;
      }
    }





    .skills {
      margin-top: 0rem;
      margin-bottom: 5rem;
    }
  }

  .carousel {
    .carousel-inner {
      margin: auto;
      width: 50%;
    }
  }


  .contact {
    .jumbotron-fluid {
      .jumbotron-title {
        font-size: 2.5rem;
        line-height: 1;
      }

    }

    .contact-form-container {
      width: 80%;
    }
  }
}

@media (min-width: 1200px) {
  .jumbotron {
    margin-bottom: 12rem;

    .col-md-7 {
      padding: 5rem 3rem 5rem 6rem;
    }

    .headline {
      :first-child {
        font-size: 3.5rem;
      }
    }

    .image-container {
      max-width: 150%;
    }
  }

  .services-container {
    h1 {
      font-size: 4rem;
    }
  }

}


@media (min-width: 1500px) {
  .jumbotron {
    margin-bottom: 20rem;

    .col-md-7 {
      padding: 5rem 3rem 5rem 6rem;
    }

    .headline {
      :first-child {
        font-size: 7rem;
      }

      :nth-child(2) {
        font-size: 1.5rem;
      }

      .btn-alt {
        padding: 1rem;
        font-size: 2rem;
      }

    }

    .image-container {
      max-width: 170%;
    }
  }

}