{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
   <div class="about">
  <div class="container bio">
    <h1 class="name">{{ page.name|richtext }}</h1>
    {% image page.my_image fill-2000x3500-c0  as img %}
    <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid">
    <h1>{{ page.about_title|richtext }}</h1>
    <p>{{ page.about_bio|richtext }}</p>
  </div>

  <div class="skills">
    <h3>{{ page.skills_title|richtext }}</h3>
    <div class="skills-list">
      <p>{{ page.skills_list|richtext }}</p>
    </div>
  </div>
  <div class="call-to-action container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <div class="overlay">
            {% image page.call_image fill-5000x5000-c0 as img %}
            <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <h3>{{ page.call_me_title|richtext }}</h3>
          <h2 class="phone-number">{{ page.call_me_number|richtext }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}