{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="contact">
    <div class="container-fluid">
        <div class="jumbotron-fluid">
            <h1 class="jumbotron-title mb-0">{{ page.headline_title|richtext }}</h1>
        </div>
        <div class="container text-center my-5">
            <p>{{ page.headline_message|richtext }}</p>
        </div>
        <form action="https://liveformhq.com/form/04a07a3d-0938-42ae-9ee8-7a6d880942e4" method="POST"
            accept-charset="utf-8">
            <input type="hidden" value="https://francisinteriordesigns.pythonanywhere.com/contact/" name="_redirect" />

            <div class="contact-form-container">
                <div class="choice-1">
                    <h1 class="item-name" data-toggle="collapse" data-target="#collapse1"><span class="number">1.</span>
                        Choose a service</h1>
                    <div class="collapse" id="collapse1">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 custom-control custom-checkbox custom-control-inline">
                                <img src="https://via.placeholder.com/150" alt="" class="img-thumbnail my-2">
                                <h4>Service One</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, repellendus?</p>
                                <div class="mdc-touch-target-wrapper">
                                    <div class="mdc-checkbox mdc-checkbox--touch">
                                        <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox-1"
                                            id="serviceOne" value="The user would like service One"
                                            name="Service One" />
                                            
                                        <div class="mdc-checkbox__background">
                                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                <path class="mdc-checkbox__checkmark-path" fill="none"
                                                    d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                            </svg>
                                            <div class="mdc-checkbox__mixedmark"></div>
                                            
                                        </div>
                                        <div class="mdc-checkbox__ripple"></div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 custom-control custom-checkbox custom-control-inline">
                                <img src="https://via.placeholder.com/150" alt="" class="img-thumbnail my-2">
                                <h4>Service Two</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, repellendus?</p>
                                <div class="mdc-touch-target-wrapper">
                                    <div class="mdc-checkbox mdc-checkbox--touch hover-indeterminate">
                                        <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox-2"
                                            id="serviceTwo" value="The user would like service Two"
                                            name="Service Two" />
                                        <div class="mdc-checkbox__background">
                                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                <path class="mdc-checkbox__checkmark-path" fill="none"
                                                    d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                            </svg>
                                            <div class="mdc-checkbox__mixedmark"></div>
                                        </div>
                                        <div class="mdc-checkbox__ripple"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 custom-control custom-checkbox custom-control-inline">
                                <img src="https://via.placeholder.com/150" alt="" class="img-thumbnail my-2">
                                <h4>Service Three</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, repellendus?</p>
                                <div class="mdc-touch-target-wrapper">
                                    <div class="mdc-checkbox mdc-checkbox--touch">
                                      <input type="checkbox"
                                             class="mdc-checkbox__native-control"
                                             id="checkbox-3" id="serviceThree" value="The user would like service three" name="Service Three"/>
                                      <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                          <path class="mdc-checkbox__checkmark-path"
                                                fill="none"
                                                d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                      </div>
                                      <div class="mdc-checkbox__ripple"></div>
                                    </div>
                                  </div>
                                  </div>


                        </div>

                    </div>
                </div>

                <div class="choice-2">
                    <h1 class="item-name" data-toggle="collapse" data-target="#collapse2"><span class="number">2.</span>
                        Date and time</h1>
                    <div class="collapse" id="collapse2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="hidden" id="datetimepicker13"  id="dateTime" name="The date and time the client would like to meet" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="choice-3">
                    <h1 class="item-name" data-toggle="collapse" data-target="#collapse3"><span class="number">3.</span>
                        Your Information</h1>
                    <div class="collapse" id="collapse3">
                        <div class="row text-center">
                            <div class="col-12 col-md form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control mb-2 w-75 mx-auto" id="firstName" name="First Name" placeholder="John">
                            </div>
                            <div class="col-12 col-md form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control w-75 mx-auto" id="lastName" name="Last Name" placeholder="Doe">
                              </div>
                            <div class="col-12 col-md form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control w-75 mx-auto" id="email" name="Email" placeholder="name@example.com">
            
                              </div>
                              <div class="col-12 col-md form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="text" class="form-control w-75 mx-auto" id="phoneNumber" name="Phone Number" placeholder="+254721234567">
                              </div>
                              <div class="col-12 form-group">
                                  <textarea id="details" name="details" id="details" cols="30" rows="10" placeholder="You can use this form to add more details about your request" class="form-control w-75 mx-auto"></textarea>
              
                              </div>

                        </div>
                    </div>
                </div>


            </div>


    </div>
    <div class="jumbotron pt-1 text-center mb-5">
        <p>Click here to submit your request.</p>
        <button type="submit" class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Submit</span>
        </button>
    </div>

    </form>



    {% endblock %}