{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="service-page-container">
  <div class="container container-1">
    <div class="text-muted font-weight-bold">{{ page.headline_muted_text|richtext }}</div>
    {% comment %} <p class="text-muted font-weight-bold">Services</p> {% endcomment %}
    <h1>{{ page.headline_title|richtext }}</h1>
    <p>{{ page.headline_intro|richtext }}</p>
    {% image page.headline_image fill-2000x1200-c0 as img %}
    <img src="{{ img.url }}" class="img-fluid" alt="{{ img.alt }}">
    <div class="text">
      <h2>{{ page.banner_text_title|richtext }}</h2>
      <p class="text-secondary">{{ page.banner_text_content|richtext }}</p>
    </div>
  </div>
  <div class="container container-2">
    <h1 class="mb-5">{{ page.section_title|richtext }}</h1>
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>{{ page.service_one_title|richtext }}</h3>
        <p>{{ page.service_one_description|richtext }}</p>
      </div>
      <div class="col-12 col-md-6">
      {% image page.service_one_image fill-2000x2000-c0 as img %}
        <img src="{{ img.url }}" class="img-thumbnail" alt="{{ img.alt }}">
      </div>
    </div>
        <div class="row">
      <div class="col-12 col-md-6">
        <h3>{{ page.service_two_title|richtext }}</h3>
        <p>{{ page.service_two_description|richtext }}</p>
      </div>
      <div class="col-12 col-md-6">
      {% image page.service_two_image fill-2000x2000-c0 as img %}
        <img src="{{ img.url }}" class="img-thumbnail" alt="{{ img.alt }}">
      </div>
    </div>
        <div class="row">
      <div class="col-12 col-md-6">
        <h3>{{ page.service_three_title|richtext }}</h3>
        <p>{{ page.service_three_description|richtext }}</p>
      </div>
      <div class="col-12 col-md-6">
      {% image page.service_three_image fill-2000x2000-c0 as img %}
        <img src="{{ img.url }}" class="img-thumbnail" alt="{{ img.alt }}">
      </div>
    </div>

  </div>
  <div class="container-fluid container-3">
    <h1 class="display-4">Book a meeting</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos quos suscipit iusto esse est voluptatum laboriosam unde! Voluptates temporibus ex cumque esse labore libero nemo.</p>
      <a class="btn btn-alt btn-lg rounded-pill" href="/contact/" role="button">Click Here</a>
  </div>
</div>

{% endblock %}